@page "/curriculo-FilipeRosiel"

<PageTitle>Currículo</PageTitle>

<body>
    <div class="margin-auto py-3 px-4">
        <h1 class="mb-4" style="font-size: 2rem">FILIPE ROSIEL DA SILVA</h1>

        <section>
            <h2>Informações</h2>
            <p class="pt-2">
                Atualmente cursando Ensino Médio Técnico em Informática no Instituto
                Federal de Rondônia - Campus Ji-Paraná
            </p>
        </section>

        <section>
            <h2>Idiomas</h2>
            <ul>
                <li>Português</li>
                <li>Inglês – Básico</li>
            </ul>
        </section>

        <section>
            <h2>Formação</h2>
            <ul>
                <li>
                    2023 - Cursando o Ensino Médio integrado ao técnico de Informática
                    (IFRO - Ji-Paraná)
                </li>
                <li>2013 à 2022 - Ensino Fundamental (EEEFM Gonçalves Dias)</li>
            </ul>
        </section>

        <section>
            <h2>Atuação Profissional</h2>
            <ul>
                <li>
                    <strong>Projeto de pesquisa</strong>
                    (2023 – atual)<br />
                    Monitoramento de Redes IPv6 com Zabbix e a Plataforma Raspberry Pi
                </li>
            </ul>
        </section>

        <section>
            <h2>Habilidades</h2>
            <ul>
                <li>Python</li>
                <li>C#</li>
                <li>MySQL</li>
                <li>MariaDB (básico)</li>
                <li>Hardware</li>
                <li>Zabbix</li>
                <li>Raspberry Pi</li>
                <li>Windows</li>
                <li>Linux</li>
                <li>Pacote Office</li>
            </ul>
        </section>
    </div>
</body>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #d2d7db;
        color: #000;
      }

      section {
        margin-bottom: 2rem;
      }

      h1,
      h2 {
        color: #39586d;
        margin-bottom: 15px;
      }

      h1 {
        border-bottom: 1px solid #39586d;
      }

      h2 {
        font-size: 1.5rem;
        background-color: #39586d;
        display: inline;
        color: #fff;
        padding: 3px 6px;
        border-radius: 8px;
        margin-bottom: 3rem;
      }

      ul {
        list-style: none;
        margin-bottom: 25px;
        padding-top: 0.5rem;
      }

      ul li {
        position: relative;
        padding-left: 18px;
        margin-bottom: 8px;
      }

      ul li::before {
        content: "-";
        position: absolute;
        left: 0;
        color: #7f99b2;
        font-weight: bold;
      }
</style>
